@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Detail Penilaian";

}

<div class="col panelcontent panelcontentweb" style="font-size: 14px; height:650px">
    <div class="scrollstyle">
        <nav aria-label=" breadcrumb" style="margin-left: 20px;">
            <ol class="breadcrumb" style="padding: 0; margin: 0; background-color: #FFF;">
                <li class="breadcrumb-item text-primary">
                    <b>
                        Aplikasi Absensi dan Logbook Magang Mahasiswa
                    </b>
                </li>
                <li class="breadcrumb-item active"><b>Penilaian</b></li>
            </ol>
        </nav>
        <hr style="margin-top: .8em;" />
        <div class="jumbotron" style="box-shadow: none; height:auto; margin-left:20px; padding: 15px 30px;">
            @* taruh content disini*@
            <a onclick="PrintPDF(@ViewBag.Penilaian.idPenilaian)" class="btn btn-info float-right text-white">Download PDF</a>

            <span class="text-center mb-2">
                <h3><b>Rincian Penilaian @ViewBag.Penilaian.Periode</b></h3>
            </span>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group ">
                        <label for="NIM"><b>NIM</b></label>
                        <input type="text" class="form-control" id="NIM" value="@ViewBag.Mahasiswa.NIM" readonly>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group ">
                        <label for="Nama"><b>Nama Lengkap</b></label>
                        <input type="text" class="form-control" id="Nama" value="@ViewBag.Mahasiswa.NamaMahasiswa" readonly>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="Prodi"><b>Prodi</b></label>
                        <input type="text" class="form-control" id="Prodi" value="@ViewBag.Mahasiswa.Prodi" readonly>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="Prodi"><b>Dinilai oleh :</b></label>
                        <input type="text" class="form-control" id="Prodi" value="@ViewBag.CreateBy" readonly>
                    </div>
                </div>

            </div>

            <div class="card">
                <table class="table  w-100  container-fluid">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Penilaian</th>
                            <th scope="col">Kriteria Penilaian</th>
                            <th scope="col">Nilai</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="vertical-align:middle;">1</td>
                            <td style="vertical-align:middle;">Penilaian Diri</td>
                            <td style="vertical-align:middle;">
                                <ul>
                                    <li>KEMAMPUAN MENGANALISA TUGAS</li>
                                    <li>PENGETAHUAN SECARA UMUM SECARA BIDANG TERKAIT</li>
                                    <li>KECEPETAN MENERIMA BIMBINGAN</li>
                                    <li>DAYA TANGKAP TERHADAP HAL-HAL BARU</li>
                                </ul>
                            </td>
                            <td style="vertical-align:middle;">@ViewBag.Penilaian.PengetahuanKerja</td>

                        </tr>
                        <tr>
                            <td style="vertical-align:middle;">2</td>
                            <td style="vertical-align:middle;">Kualitas Kerja</td>
                            <td style="vertical-align:middle;">
                                <ul>
                                    <li>HASIL KERJA (PRODUK/JASA)</li>
                                    <li>KEMAMPUAN MELAKUKAN ANALISIS DAN PENYELESAIAN MASALAH</li>
                                    <li>KEMAMPUAN MENYELESAIKAN TUGAS</li>
                                </ul>
                            </td>
                            <td style="vertical-align:middle;">@ViewBag.Penilaian.KualitasKertja</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle;">3</td>
                            <td style="vertical-align:middle;">Kecepatan Kerja</td>
                            <td style="vertical-align:middle;">
                                <ul>
                                    <li>KECEPATAN MENYELESAIKAN TUGAS</li>
                                    <li>KECEPATAN MAMAHAMI TUGAS DARI MENTOR</li>
                                    <li>KEMAMPUAN MELAKUKAN ANALISIS DAN PENYELESAIAN MASALAH</li>
                                </ul>
                            </td>
                            <td style="vertical-align:middle;">@ViewBag.Penilaian.KecepatanKerja</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle;">4</td>
                            <td style="vertical-align:middle;">Sikap dan Perilaku</td>
                            <td style="vertical-align:middle;">
                                <ul>
                                    <li>TAAT PERATURAN PERUSAHAAN</li>
                                    <li>MENGGUNAKAN PERLENGKAPAN STANDAR KERJA DAN MEMPERHATIKAN SAFETY</li>
                                    <li>CUSTOMER SATISFACTION (KEPUASAN PELANGGAN)</li>
                                </ul>
                            </td>
                            <td style="vertical-align:middle;">@ViewBag.Penilaian.SikapPerilaku</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle;">5</td>
                            <td style="vertical-align:middle;">Kreativitas dan Kerja Sama</td>
                            <td style="vertical-align:middle;">
                                <ul>
                                    <li>MEMBERIKAN IDE/SARAN DALAM PROSES KERJA ATAU MELAKUKA IMPROVMENT</li>
                                    <li>KERJA SAMA TIM DALAM LINGKUNGAN KERJA</li>
                                </ul>
                            </td>
                            <td style="vertical-align:middle;">@ViewBag.Penilaian.KreatifitasKerjaSama</td>
                        </tr>
                        <tr>
                            <td rowspan="3" style="vertical-align:middle;">6</td>
                            <td rowspan="3" style="vertical-align:middle;">Soft Skill</td>
                            <td style="vertical-align:middle;">
                                Leadership
                            </td>
                            <td style="vertical-align:middle;">@ViewBag.Penilaian.Leadership</td>


                        </tr>
                        <tr>
                            <td style="vertical-align:middle;">
                                Kemampuan Menangani Masalah
                            </td>
                            <td style="vertical-align:middle;">@ViewBag.Penilaian.PenangananMasalah</td>


                        </tr>
                        <tr>
                            <td style="vertical-align:middle;">
                                Kemampuan Beradapatasi
                            </td>
                            <td style="vertical-align:middle;">@ViewBag.Penilaian.Beradaptasi</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle;"></td>
                            <td class="text-center" style="vertical-align:middle;"><b>Rata Rata</b></td>
                            <td></td>
                            <td>
                                @ViewBag.Rata.Rata
                            </td>
                        </tr>
                    </tbody>

                </table>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1"><b>Catatan dari Pembimbing</b></label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" readonly>@ViewBag.Penilaian.Ulasan</textarea>
                </div>
                <a class="btn btn-warning" asp-controller="Mahasiswa" asp-action="Detail" asp-route-NIM="@ViewBag.Mahasiswa.NIM">Kembali</a>
            </div>
        </div>

        <hr class="my-4" />
        <p class="lead" style="font-size: 1.1rem;">
            Jika terdapat kesulitan tentang cara penggunaan aplikasi ini, silahkan menghubungi MIS.
            <br />
            <br />
        </p>
    </div>
</div>