@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Tittle"] = "Detail Mahasiswa";
}
@model ODOL.Models.Mahasiswa

<div class="col panelcontent panelcontentweb" style="font-size: 14px; height:650px;">
    <div class="scrollstyle">
        <nav aria-label=" breadcrumb" style="margin-left: 20px;">
            <ol class="breadcrumb" style="padding: 0; margin: 0; background-color: #FFF;">
                <li class="breadcrumb-item text-primary">
                    <b>
                        Aplikasi Absensi dan Logbook Magang Mahasiswa
                    </b>
                </li>
                <li class="breadcrumb-item active"><b>Mahasiswa</b></li>
            </ol>
        </nav>
        <hr style="margin-top: .8em;" />
        <div class="jumbotron" style="box-shadow: none; height:auto; margin-left:20px; padding: 15px 30px;">
            @* taruh content disini*@
            <span class="text-center mb-1">
                <a asp-action="Index" class="btn btn-primary float-right">Kembali</a>
                <a asp-action="Ubah" asp-for-nim="@Model.NIM" class="btn btn-warning float-left">Ubah</a>
                <h4>
                    <b>
                        Detail Mahasiswa
                    </b>
                </h4>
            </span>
            <hr class="mt-5" />
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group ">
                            <label for="Nama"><b>Nama</b></label>
                            <input type="text" class="form-control" id="Nama" value="@Model.NamaMahasiswa" readonly>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group ">
                            <label for="Nama"><b>Nomor Induk Mahasiswa (NIM)</b></label>
                            <input type="text" class="form-control" id="Nama" value="@Model.NIM" readonly>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group ">
                            <label for="Nama"><b>Program Studi</b></label>
                            <input type="text" class="form-control" id="Nama" value="@Model.Prodi" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card container text-center " style="border:solid 1px #D9D9D9;border-radius:4px">
                <h5 class="font-weight-bold mt-2">RATA-RATA NILAI PERBULAN</h5>
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">NO</th>
                            <th scope="col" class="text-center">Bulan</th>
                            <th scope="col" class="text-center">Rata-Rata</th>
                            <th scope="col" class="text-center">Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Januari</td>
                            <td>90</td>
                            <td>
                                <a asp-action="DetailNilai" asp-for-nim="@Model.NIM" class="btn btn-primary">Detail</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card mt-3 contianer text-center">
                <h5 class="font-weight-bold mt-2">Riwayat Logbook</h5>
                <table class="table" id="myTable">
                    <thead>
                        <tr>
                            <th class="text-center">
                                No
                            </th>
                            <th class="text-center">
                                Tanggal dan Waktu Buat
                            </th>
                            <th class="text-center">
                                Status
                            </th>
                            <th class="text-center">
                                Action
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <hr class="my-4" />
        <p class="lead" style="font-size: 1.1rem;">
            Jika terdapat kesulitan tentang cara penggunaan aplikasi ini, silahkan menghubungi MIS.
            <br />
            <br />
        </p>
    </div>
</div>