@model IEnumerable<ODOL.Models.Pengguna>



@{
    ViewData["Title"] = "Pengguna";
}

<div class="col panelcontent panelcontentweb" style="font-size: 14px; height:650px">
    <div class="scrollstyle">
        <nav aria-label=" breadcrumb" style="margin-left: 20px;">
            <ol class="breadcrumb" style="padding: 0; margin: 0; background-color: #FFF;">
                <li class="breadcrumb-item text-primary">
                    <b>
                        Aplikasi Absensi dan Logbook Magang Mahasiswa
                    </b>
                </li>
                <li class="breadcrumb-item active"><b>Pengguna</b></li>
            </ol>
        </nav>
        <hr style="margin-top: .8em;" />
        <div class="jumbotron" style="box-shadow: none; height:auto; margin-left:20px; padding: 15px 30px;">
            @* taruh content disini*@
            <a type="button" class="btn btn-primary" asp-action="Tambah">
                Tambah Pengguna
            </a>

            <span class="text-center mb-1">
                <h4>
                    <b>
                        Pengguna
                    </b>
                </h4>
            </span>
            <hr />
            <div class="card">
                <table class="table container-fluid w-100 h-10 text-center" id="myTable">
                    <thead>
                        <tr>
                            <th class="text-center">
                                No
                            </th>
                            <th class="text-center">
                                Nama
                            </th>
                            <th class="text-center">
                                Username
                            </th>
                            <th class="text-center">
                                Role
                            </th>
                            <th class="text-center">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() != 0)
                        {
                            int i = 1;
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @i
                                    </td>
                                    <td  class="text-left">
                                        @item.Nama
                                    </td>
                                    <td  class="text-left">
                                        @item.Username
                                    </td>
                                    <td  class="text-left">
                                        @item.Role
                                    </td>
                                    <td>
                                        <a asp-action="Ubah" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Edit</a>
                                        <a data-id="@item.Id" style="color:white" class="btn btn-danger btn-sm btn-delete">Hapus</a>
                                    </td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <hr class="my-4" />
        <p class="lead" style="font-size: 1.1rem;">
            Jika terdapat kesulitan tentang cara penggunaan aplikasi ini, silahkan menghubungi MIS.
            <br />
            <br />
        </p>
    </div>
</div>

<!-- Modal -->
@using (Html.BeginForm("Hapus", "Pengguna", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="modal fade " id="modalHapus" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title " id="myModalLabel">Hapus Data</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body">
                    <p class="text-danger">Apakah anda yakin akan menghapus data ini?</p>
                    <input type="hidden" name="id" class="id" id="idHapus" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                    <button type="submit" class="btn btn-danger">Hapus</button>
                </div>
            </div>
        </div>
    </div>

}
