@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Profile Mahasiswa";
}

@model ODOL.Models.Mahasiswa
<div class="col panelcontent panelcontentweb" style="font-size: 14px; height:650px">
    <div class="scrollstyle">
        <nav aria-label=" breadcrumb" style="margin-left: 20px;">
            <ol class="breadcrumb" style="padding: 0; margin: 0; background-color: #FFF;">
                <li class="breadcrumb-item text-primary">
                    <b>
                        Aplikasi Absensi dan Logbook Magang Mahasiswa
                    </b>
                </li>
                <li class="breadcrumb-item active"><b>Profile</b></li>
            </ol>
        </nav>
        <hr style="margin-top: .8em;" />
        <div class="jumbotron" style="box-shadow: none; height:auto; margin-left:20px; padding: 15px 30px;">
            @* taruh content disini*@
            <div class="card">
                <span class="text-center mb-1">
                    <a asp-action="Index" class="btn btn-primary float-right">Kembali</a>
                    <a asp-action="Ubah" asp-route-NIM="@Model.NIM" class="btn btn-warning float-left">Ubah</a>
                    <h4>
                        <b>
                            Profil Mahasiswa
                        </b>
                    </h4>
                </span>
                <hr class="mt-5" />
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group ">
                            <label for="NIM"><b>NIM</b></label>
                            <input type="text" class="form-control" id="NIM" value="@Model.NIM" readonly>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group ">
                            <label for="Nama"><b>Nama Lengkap</b></label>
                            <input type="text" class="form-control" id="Nama" value="@Model.NamaMahasiswa" readonly>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group ">
                            <label for="Prodi"><b>Prodi</b></label>
                            <input type="text" class="form-control" id="Prodi" value="@Model.Prodi" readonly>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group ">
                            <label for="NIM" class="mb-1">
                                <b>Status</b>
                            </label>
                            <br />
                            @if (ViewBag.Role == "Admin")
                            {
                                <input type="checkbox" class="w-100" id="toggle_status" checked data-toggle="toggle" data-on="Aktif" data-off="Tidak Aktif" data-onstyle="success" data-offstyle="danger">
                            }
                            else
                            {
                                 <input type="checkbox" class="w-100" id="toggle_status" checked data-toggle="toggle" data-on="Aktif" data-off="Tidak Aktif" data-onstyle="success" data-offstyle="danger" disabled>

                            }

                            @*<input type="text" class="form-control" id="NIM" value="@Model.Status" readonly>*@

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group ">
                            <label for="Prodi"><b>Perusahaan</b></label>
                            <input type="text" class="form-control" id="Perusahaan" value="@ViewBag.Perusahaan.NamaPerusahaan" readonly>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group ">
                            <label for="Nama"><b>Cabang</b></label>
                            <input type="text" class="form-control" id="Cabang" value="@ViewBag.Perusahaan.Cabang" readonly>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group ">
                            <label for="Prodi"><b>Group</b></label>
                            <input type="text" class="form-control" id="Group" value="@ViewBag.Perusahaan.Group" readonly>
                        </div>
                    </div>


                </div>
            </div>

            <div class="card mt-4">
                <table class="table container-fluid w-100 h-10 text-center" id="myTable">
                    <thead>
                        <tr>
                            <th class="text-center">No</th>
                            <th class="text-center">Bulan</th>
                            <th class="text-center">Rata-Rata</th>
                            <th class="text-center">Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.Rata != null)
                        {
                            int i = 1;
                            @foreach (var item in ViewBag.Rata)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@item.Periode</td>
                                    <td>@item.Rata</td>
                                    <td>
                                        <a class="mr-1" asp-action="Detail" asp-controller="Penilaian" asp-route-id="@item.idPenilaian"> <i class="fas fa-list" style="color: #4285f4;"></i></a>
                                    </td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="card mt-4">
                <span class="text-center">
                    <h5 class="card-header font-weight-bold">Riwayat Logbook</h5>
                </span>
                <table class="table container-fluid w-100 h-10 text-center" id="myTableRiwayat">
                    <thead>
                        <tr>
                            <th class="text-center">
                                No
                            </th>
                            <th class="text-center">
                                Tanggal dan Waktu Pengisian
                            </th>
                            <th class="text-center">
                                Status
                            </th>
                            <th class="text-center">
                                Aksi
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.LogBook != null)
                        {
                            int i = 1;
                            @foreach (var item in ViewBag.Logbook)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td class="text-center">
                                        @Convert.ToDateTime(item.CreatedDate).ToString("dddd, dd MMMM yyyy, HH:mm", new System.Globalization.CultureInfo("id-ID"))
                                    </td>
                                    <td class="text-center">
                                        @if (item.Status == "Belum Disetujui")
                                        {
                                            <h5><span class="badge badge-warning">@item.Status</span></h5>
                                        }
                                        else if (item.Status == "Disetujui")
                                        {
                                             <h5><span class="badge badge-success">@item.Status</span></h5>
                                        }else if(item.Status == "Ditolak"){
                                             <h5><span class="badge badge-danger">@item.Status</span></h5>
                                        }
                                    </td>
                                    <td class="text-center">
                                        <a class="mr-1" asp-action="Detail" asp-controller="LogBook" asp-route-NIM="@item.NIM" asp-route-id="@item.idLogBook"> <i class="fas fa-list" style="color: #4285f4;"></i></a>
                                       @* <a class="ml-1" asp-action="index"> <i class="fas fa-print" style="color: #4285f4;"></i></a>*@
                                    </td>
                                </tr>
                                i++;
                            }
                        }

                    </tbody>
                </table>
            </div>

        </div>

        <hr class="my-4" />
        <p class="lead" style="font-size: 1.1rem;">
            Jika terdapat kesulitan tentang cara penggunaan aplikasi ini, silahkan menghubungi MIS.
            <br />
            <br />
        </p>
    </div>
</div>

@using (Html.BeginForm("UpdateStatus", "Mahasiswa", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="modal fade " id="modalUpdate" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title " id="myModalLabel">Update Status</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body">
                    <p class="text-danger">Apakah anda yakin akan mengubah status ini?</p>
                    <input type="hidden" name="status" class="status" id="status" />
                    <input type="hidden" name="nim" class="nim" id="nim" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                    <button type="submit" class="btn btn-warning">Ubah</button>
                </div>
            </div>
        </div>
    </div>

}
@if (@Model.Status == "Aktif")
{
    <script>
        document.getElementById('toggle_status').checked = true;
    </script>
}
else
{
    <script>
        document.getElementById('toggle_status').checked = false;
    </script>
}

